# 忽略所有不相關的用戶資料夾和檔案
../../.anaconda/
../../.bash_history
../../.conda/
../../.condarc
../../.continuum/
../../.docker/
../../.dotnet/
../../.gitconfig
../../.jupyter/
../../.keras/
../../.lesshst
../../.matplotlib/
../../.spyder-py3/
../../.ssh/
../../.viminfo
../../.vscode/
../../Documents/
../../Music/
../../Videos/
../../anaconda3/
../../source/
