{% extends 'core/base.html' %}
{% block title %}
專業品牌規劃與網站設計 - JL 工作室
{% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid" style="margin-top: 100px;">
    <div class="row" style="text-align: center;">
        <h1><strong>聯絡我們</strong></h1>
        <p><strong>若有其他疑問及需求，或是想了解更多，都歡迎直接聯繫我們!</strong></p>
    </div>
    <div class="row" style="text-align: center;">
        <p><strong>電子郵件</strong></p>
        <a href="mailto:jj0985788718@gmail.com">jj0985788718@gmail.com</a>
        <p style="margin-top: 10px;"><strong>聯絡電話</strong></p>
        <p>0968380030</p>
    </div>
</div>
{% endblock %}